.profileButton {
  user-select: none;
  .profileButtonImage {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    box-shadow: 0 0 0 5px #f66;
    animation: bounceOut infinite 1s linear;
    &:hover {
      cursor: pointer;
    }
    @keyframes bounceOut {
      0% {
        box-shadow: 0 0 0 4px rgb(136, 255, 0);
        opacity: 1;
      }
      25% {
        box-shadow: 0 0 0 1px rgb(255, 204, 1);
        opacity: 1;
      }
      50% {
        box-shadow: 0 0 0 7px rgb(255, 153, 0);
        opacity: 1;
      }
      75% {
        box-shadow: 0 0 0 4px rgb(255, 204, 1);
        opacity: 1;
      }
      100% {
        box-shadow: 0 0 0 5px rgb(255, 238, 1);
        opacity: 1;
      }
    }
  }

  .socialButton {
    width: 0px;
    height: 0px;
    top: 105px;
    left: 63px;
    visibility: hidden;
    position: absolute;
    transition: all 0.4s;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 24px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
    cursor: pointer;

    i {
      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &:hover {
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
    }
    &:nth-child(2) {
      transition-delay: 0.1s;
      background-color: #242424;
    }
    &:nth-child(3) {
      transition-delay: 0.2s;
      background-color: #0e76a8;
    }
    &:nth-child(4) {
      transition-delay: 0.3s;
      background-color: #49a942;
    }
    &:nth-child(5) {
      transition-delay: 0.4s;
      background-color: #1da1f2;
    }
    &:nth-child(6) {
      transition-delay: 0.5s;
      background-color: #3b5998;
    }
    &:nth-child(7) {
      transition-delay: 0.6s;
      background-color: #e1306c;
    }
  }
}
.profileButtonOpen {
  // Just here to increase specificity
  .socialButtonOpen {
    opacity: 1;
    width: 50px;
    height: 50px;
    visibility: visible;

    &:nth-child(2) {
      top: -65px;
      left: 35px;
      &:hover {
        transition-delay: 0s;
        background-color: #616161;
      }
    }
    &:nth-child(3) {
      top: -10px;
      left: -55px;
      &:hover {
        transition-delay: 0s;
        background-color: #1898d3;
      }
    }
    &:nth-child(4) {
      top: 80px;
      left: -55px;
      &:hover {
        transition-delay: 0s;
        background-color: #3d8937;
      }
    }

    &:nth-child(5) {
      top: 130px;
      left: 35px;

      &:hover {
        transition-delay: 0s;
        background-color: #1980bf;
      }
    }

    &:nth-child(6) {
      top: 80px;
      left: 125px;

      &:hover {
        transition-delay: 0s;
        background-color: #2f4575;
      }
    }

    &:nth-child(7) {
      top: -10px;
      left: 125px;

      &:hover {
        transition-delay: 0s;
        background-color: #c13584;
      }
    }
  }
}
