.homepage {
  height: 100%;
  min-height: 100vh;
  background-color: #141518;
  background: linear-gradient(to top left, #141518 calc(50% - 1px), #2d2d2d, #191a1d calc(50% + 1px));

  @media only screen and (max-width: 576px) {
    top: 50%;
    background: linear-gradient(to top, #141518 calc(50% - 1px), rgb(110, 110, 110), #191a1d calc(50% + 1px));
  }

  .welcomeWrapper {
    position: absolute;
    top: 15%;
    left: 10%;
  }
  .welcomeProfile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .introWrapper {
    user-select: none;
    position: absolute;
    width: max-content;
    top: 75%;
    right: 10%;
    @media only screen and (max-width: 576px) {
      top: 80%;
      left: 50%;
      transform: translate(-50%, 0px);
    }
  }
}
