.homepage {
  height: 100%;
  min-height: 100vh;
  background-color: #141518;
  background: linear-gradient(to top left, #191a1d calc(50% - 1px), #2d2d2d, #141518 calc(50% + 1px));

  @media only screen and (max-width: 576px) {
    top: 50%;
    background: linear-gradient(to top, #191a1d calc(50% - 1px), rgb(110, 110, 110), #141518 calc(50% + 1px));
  }

  .welcomeWrapper {
    position: absolute;
    top: 20%;
    left: 10%;

    @media only screen and (max-width: 576px) {
      top: 15%;
    }
  }
  .welcomeProfile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
