.welcomeText {
  user-select: none;
  font-weight: bold;

  .mainText {
    color: #fff;
    font-size: 80px;

    @media only screen and (max-width: 576px) {
      font-size: 30px;
    }
  }

  .helloText {
    font-size: 30px;
    height: 50px;
    overflow: hidden;
    div {
      border-radius: 25px;
      border-top-left-radius: 0px;
      div {
        color: #fff;
        padding: 0px 12px 0px 12px;
        height: 45px;
        margin-bottom: 45px;
        display: inline-block;
        background: #008cff;
      }
      &:first-child {
        animation: show 5s linear infinite;
        div {
          background: #dc143c;
        }
      }
      &:last-child {
        div {
          background: #009c54;
        }
      }
    }
  }

  @keyframes show {
    0% {
      margin-top: -250px;
    }
    5% {
      margin-top: -180px;
    }
    33% {
      margin-top: -180px;
    }
    38% {
      margin-top: -90px;
    }
    66% {
      margin-top: -90px;
    }
    71% {
      margin-top: 0px;
    }
    99.99% {
      margin-top: 0px;
    }
    100% {
      margin-top: -270px;
    }
  }
}
